    * {
      padding: 0px;
      margin: 0px;
    }

    form {
    display: flex;
    color: white;
    font-family: system-ui;
    flex-direction: column;
    background: linear-gradient(45deg, #3c3043, #3c3043 , transparent);
    gap: 20px;
    padding: 30px 50px;
    border-radius: 20px;
    margin-top: 100px;
}
form h2{ 
      margin: 5px 0; }
    #btn {
      margin: auto;
      padding: 5px 20px;
      background-color: transparent;
      color: #ffffff;
      border: none;
      border: 2px solid white;
      cursor: pointer;
    }
    #btn:hover{
      background-color: white;
      color:  #3c3043 ;
    }

    #page {
      width: 600px;
      margin: auto;

      border-radius: 20px;

    }

    input {
    font-size: 25px;
    border-radius: 6px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}
input::placeholder{
  color:  #3c3043;

}

    .line {
      display: flex;
      gap: 10px;

    }


    #head {
      text-align: center;
      color: teal;
      font-size: 40px;
      text-decoration: underline;
      margin: 15px 5px;
    }

    #nav {
      display: flex;
      /* height: 100px; */
      justify-content: space-between;
      /* margin: auto; */
      font-weight: 800;
      padding: 10px;
      align-items: center;
      position: fixed;
      background: white;
      width: 100%;
      top: 0;
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(45px);
      z-index: 5;
      left: 0;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }


    .bar {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 30px;
    }



    .bar a {
      display: flex;
      font-weight: 600;
      text-decoration: none;
      gap: 10px;
      color: black;

    }

    .bar a:hover {
      fill: #d26548;
      color: #d26548;
    }

    .logo {
      display: flex;
      align-items: center;
      width: 60%;

      margin-left: 20px;
    }

    .logo img {
      height: 60px;
      width: 200px;

      object-position: center center;
    }

    #logo {
      width: 30%;
      object-fit: contain;
      width: 200px;
    }

    #mainLogo {


      width: 100%;
      height: 100%;
      object-fit: cover;
    }